/* Styling untuk Toggle Switch */
.toggle-switch {
    position: relative;
    display: inline-block;
    width: 44px; /* Lebar switch */
    height: 24px; /* Tinggi switch */
}

.toggle-switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 34px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 18px; /* Ukuran lingkaran */
    width: 18px;  /* Ukuran lingkaran */
    left: 3px;
    bottom: 3px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 50%;
}

input:checked + .slider {
    background-color: #2563eb; /* Warna biru saat aktif */
}

input:focus + .slider {
    box-shadow: 0 0 1px #2563eb;
}

input:checked + .slider:before {
    -webkit-transform: translateX(20px);
    -ms-transform: translateX(20px);
    transform: translateX(20px);
}